@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

.p-dialog-content {
  margin-bottom: 60px;
}

.p-dialog-footer {
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
